@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Customer Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Customer Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrashPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrashPickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraPickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporarySuspendPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporarySuspendPickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
